{% extends 'base.html.twig' %}

{% block title %}Mon compte - La boutique Française
{% endblock %}

{% block content %}
		<h1>Ajouter une adresses</h1>
		<a href="{{ path('app_account_address')}}">
			<p>Retour</p>
		</a>
		<hr>
		{# {{form_start(form)}}

		{{form_end(form)}} #}
{% endblock %}
